<div class="page4__main">
    <div class="page4__top">
        <img src="../../../../assets/Ultimate features that we built.png" alt="p4 t1">
        <img src="../../../../assets/The rise of mobile devices transforms the way we consume. eleva.png" alt="p4 t2">
    </div>
    <div class="page4__middle">
       <img src="../../../../assets/Group 92.png" alt="p4 m">
    </div>
        <img class="page4__bottom" style="width:100%;" src="../../../../assets/Rectangle 1 copy 3.png" alt="p4 b" height="40" width="100%">
    
</div>