<div class="page4__main">
    <div class="page4__top">
        <img src="../../../../assets/Ultimate features that we built.png" alt="p4 t1">
        <img src="../../../../assets/The rise of mobile devices transforms the way we consume. eleva.png" alt="p4 t2">
    </div>
    <div class="page4__middle">
       <img src="../../../../assets/Group 92.png" alt="p4 m">
    </div>
    <div class="page4__bottom">
        <img src="../../../../assets/Rectangle 1 copy 3.png" alt="p4 b" style="width:100%;">
    <div class="centered">See More</div>
    </div>
        
</div>