<div class="pagetwo__main">
    <div class="pagetwo__main__row1">
        <img src="../../../../assets/Smart jackpots that you may love this anytime & anywhere.png" alt="p2 row1 left" />

        <img src="../../../../assets/Shape 2.png" alt="p2 row1 spacershape"/>

        <img src="../../../../assets/The rise of mobile devices transforms the way we consume inform.png" alt="p2 row1 right" />
    </div>

    <div class="pagetwo__main__row2">
        <div class="pagetwo__main__row2__col1">
            <img src="../../../../assets/bill.png" alt="p2 row2 c1-1"/>
            <img src="../../../../assets/Automatic Payouts.png" alt="p2 row2 c1-2" />
            <img src="../../../../assets/Get your blood tests delivered at home collect a sample from th-1.png" alt="p2 row2 c1-3">
        </div>

        <div class="pagetwo__main__row2__col2">
            <img src="../../../../assets/network.png" alt="p2 row2 c2-1">
            <img src="../../../../assets/Network Effect.png" alt="p2 row2 c2-2">
            <img src="../../../../assets/Get your blood tests delivered at home collect a sample from th-1.png" alt="p2 row2 c2-3">
        </div>
      
        <div class="pagetwo__main__row2__col3">
            <img src="../../../../assets/badge.png" alt="p2 row2 c3-1">
            <img src="../../../../assets/Bigger Rewards Method.png" alt="p2 row2 c3-2">
            <img src="../../../../assets/Get your blood tests delivered at home collect a sample from th-1.png" alt="p2 row2 c3-3">
        </div>
    </div>
    <div class="pagetwo__main__row3">
        <div class="pagetwo__main__row3__col1">
            <img src="../../../../assets/Vector Smart Object.png" alt="p2 row3 c1">
        </div>
        
        <div class="pagetwo__main__row3__col2">
            <img src="../../../../assets/Designed & built by the latest code integration.png" alt="p2 row3 c1-1">
            <img src="../../../../assets/The rise of mobile devices transforms the way we consume. eleva.png" alt="p2 row3 c1-2">

            <button class="button__image">
                <img class="button__image" src="../../../../assets/llearn more.png" alt="p2 row3 c1-3" height="40" width="100%">
            </button>
           
        </div>
    </div>
</div>