<div class="page__main">
    <div class="page__left">
        <span class="page__left__img">
            <img src="../../../../assets/Editior.png" alt="leftimg" />
        </span>
        <br>
        <span class="page__left__img">
            <img src="../../../../assets/Best app for your modern lifestyle.png" alt="leftimg" />
        </span>
        <br>
        <span class="page__left__img">
            <img src="../../../../assets/Increase productivity with a simple to-do app. app for managing.png"
                alt="leftimg" />
        </span>

        <button type="button" class="button__image">
            <img src="../../../../assets/Try for free.png" alt="free1" height="40" width="100%" />
        </button>
        <span class="page__left__img">
            <img src="../../../../assets/Watch demo video.png" alt="leftimg" />
        </span>
    </div>
    <div class="page__right">
        <img src="../../../../assets/Vector Smart Object.png" alt="rightimg" />
    </div>
    
    <img class="page__down_img" src="../../../../assets/Layer 5.png" alt="belowimg" />
</div>