<div class="header_container">
        <a href="#" >
            <img  class="header__logo" src="../../../../assets/AppLab.png" alt="logos"
            />
        </a>
        <nav class="header__navbar">
            <a class="nav__link" href="#" style="color: black;">Home</a>
            <a class="nav__link" href="#" style="color: black;">Key Features</a>
            <a class="nav__link" href="#" style="color: black;">Pricing</a>       
            <a class="nav__link" href="#" style="color: black;">Testiminial</a>
            <a class="nav__link" href="#" style="color: black;">FAQ</a>
            <button type="button" class="button__image">
              <img  src="../../../../assets/Try for free.png" alt="free1" height ="40" width="100%" />
            </button>
        </nav>   
</div>